body{
    background-color:#e95058;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.social-m {
    text-align:center;
}
.name{
    text-align: center;
}

.sCart{
    text-align: center;
}

.cart {
    background-color: rgb(121, 197, 127);
    flex: 1;
    padding-top: 0.1em;
}

.cartTable {
    margin-left: auto;
    margin-right: auto;
    
}

.product {
    text-align: center;
}

.checkOut, .payBtn {
    display: box;
    margin: auto;
    border-radius: 1em;
    border: 5%;
    padding: 5px 5px;
    background-color: #f7ef81;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.addBtn, .minusBtn {
    display: box;
    margin: auto;
    border-radius: 2em;
    border: 5%; 
    padding: 5px 5px;
    background-color: #ebf375;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pAmt {
    font-weight: bold;
    border: 10em;
    border-radius: 10%;
}

.payAmt {
    border: 2%;
    margin-left: 3px;
    padding: 3px;
    background-color: #faf876;
    font-size: 12px;
    box-shadow: none;
    display: ruby;
}
.hidden {
    display: none;
}
.addBtn:active, .minusBtn:active, .checkOut:active, .payBtn:active {
    box-shadow: #4763ff;
}

.pizza {
    /* box-model*/
    border: 1px solid #eeece9;
    padding: 1em;
    margin: 1em;
    border-radius: 1.2em;
}
.Large_pizza {
    background-color:#F2C078;
    text-align: center;
}
.Medium_pizza {
    background-color:#C1DBB3;
    text-align: center;
}
.Small_pizza {
    background-color:#D8C99B;
    text-align: center;
}
.Contact_details {
    background-color: rgb(181, 236, 130);
    text-align: center;
}
@media (min-width: 960px) {
    
    .pizzas {
        display: flex;
    }
}
